@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alert-color: white;
  --btn-color: white;
  --primary-color-hue: 350;
  --primary-color-saturation: 85%;
  --primary-color-lightness: 53%;

  --secondary-color-hue: 319;
  --secondary-color-saturation: 85%;
  --secondary-color-lightness: 35%;

  --success-color-hue: 161;
  --success-color-saturation: 85%;
  --success-color-lightness: 21%;

  --warning-color-hue: 41;
  --warning-color-saturation: 85%;
  --warning-color-lightness: 80%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.doc {
  &-attribute {
    @apply font-medium text-primary-500;

    &-indicator {
      @apply text-blue-500 font-bold ml-8;

      &::before {
        content: "{";
      }

      &::after {
        content: "}";
      }
    }
  }
}
