@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alert-text-color: white;
  --alert-main-color-hue: 350;
  --alert-main-color-saturation: 85%;
  --alert-main-color-lightness: 53%;

  --btn-color: white;
  --btn-main-color-hue: 350;
  --btn-main-color-saturation: 85%;
  --btn-main-color-lightness: 53%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
