<app-layout title="Alerts">
  <h3 class="text-xl mb-6">01. Visuals</h3>
  <div class="bg-white shadow rounded-xl p-8">
    <div class="">
      <div class="grid grid-cols-12 gap-x-12 mb-4">
        <span class="col-span-2"></span>
        <span class="col-span-5">Filled</span>
        <span class="col-span-5">Tonal</span>
      </div>

      <div
        class="grid grid-cols-12 gap-x-12 mt-8"
        *ngFor="let color of this.alertColors"
      >
        <div class="col-span-2">
          <span>{{ color }}</span>
        </div>
        <div class="col-span-5">
          <jenga-alert type="filled" [color]="color">
            Alert content is here
          </jenga-alert>
        </div>

        <div class="col-span-5">
          <jenga-alert type="tonal" [color]="color">
            Alert content is here
          </jenga-alert>
        </div>
      </div>
    </div>
  </div>

  <hr class="doc-separator" />

  <div>
    <h3 class="text-xl mb-6">02. API</h3>

    <div class="bg-white shadow p-8 rounded-xl">
      <dl>
        <div class="doc-item">
          <dt class="doc-title">
            type <span class="doc-attribute-indicator"> filled, tonal </span>
          </dt>
          <dd class="doc-content">
            <p>Specifies the alert type</p>
            <p>
              Use filled alerts for high emphasis and tonal for low emphasis
            </p>
          </dd>
        </div>

        <div class="doc-item">
          <dt class="doc-title">
            color
            <span class="doc-attribute-indicator">
              primary, secondary, success, warning
            </span>
          </dt>
          <dd class="doc-content">
            <p>
              This attribute specifies the desired color of the alert component.
            </p>

            <p>
              Usage depends on the intended purpose of showing the alert e.g.
              Use success for appropriate, good or successful actions.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <hr class="border border-slate-200 my-8" />
  <div>
    <h3 class="text-xl mb-6">03. Sample Widgets</h3>
    <div class="flex flex-col gap-y-12">
      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-5">
          <app-dialog></app-dialog>
        </div>
        <div class="col-span-7">
          <app-code-view [code]="this.rawCodes.dialog.html"></app-code-view>
        </div>
      </div>
    </div>
  </div>
</app-layout>
