<app-layout title="Buttons">
  <app-color-selector
    [colorList]="buttonColors"
    [activeColor]="activeColor"
    (selectedColorEvent)="this.activeColor = $event"
  ></app-color-selector>

  <div class="bg-white shadow rounded-xl">
    <div class="grid grid-cols-5 gap-12 py-8">
      <div
        class="flex flex-col items-center justify-center self-start col-span-1"
        *ngFor="let button of buttons; let i = index"
      >
        <span class="mb-4 fw-bold">{{ button.type }}</span>
        <jenga-button
          label="Button Here"
          [type]="button.type"
          [color]="this.buttonColors[activeColor].name"
          size="sm"
        ></jenga-button>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-12 py-8">
      <div
        class="flex flex-col items-center justify-center self-start col-span-1"
        *ngFor="let button of buttons; let i = index"
      >
        <jenga-button
          label="Button Here"
          [type]="button.type"
          [color]="this.buttonColors[activeColor].name"
        ></jenga-button>
      </div>
    </div>

    <div class="grid grid-cols-5 gap-12 py-8">
      <div
        class="flex flex-col items-center justify-center self-start col-span-1"
        *ngFor="let button of buttons; let i = index"
      >
        <jenga-button
          label="Button Here"
          [type]="button.type"
          [color]="this.buttonColors[activeColor].name"
          size="lg"
        ></jenga-button>
      </div>
    </div>
  </div>
</app-layout>
